<h2><marquee scrollamount="15">Welcome!!  Let's Enjoy!!</marquee></h2>
<h1>～SCHEDULE CHECKER～</h1>
  <div id="new_buttton">
    <h5>初めてご利用の方</h5>
    <p><%= button_to "新規登録", users_new_path, :method => "get" %></p>
  </div>
  <br>
  <div id="login_button">
    <h5>ログインIDをお持ちの方</h5>
    <p><%= button_to "ログイン", users_login_path, :method => "get" %></p>
  </div>
