#main_title {
  text-align: center;
}
#user_id {
  padding-left: 100px;
}
#plan_user_id {
   width: 5%;
   text-align: center;
}
#title {
  display: inline-block;
  padding-left: 215px;
}
#plan_title {
  width: 90%;
  text-align: center;
}
#start {
  display: inline-block;
}
#end {
  display: inline-block;
  padding-left: 20px;
}
#detail {
  text-align: center;
}
#plan_detail {
  width: 750px;
  height: 10em;
}
#color {
  padding-left: 250px;
  display: inline-block;
}
#save {
  display: inline-block;
  padding-left: 615px;
}

