/*全体の中央揃え、デザイン*/
#edit_main{
  text-align: center;
  background-color: #00FF66;
}
/*タイトルのデザイン*/
#main_title {
  background-color: #CCFF00;
  margin: 0 0;
  padding: 10px; 
}
/*ユーザーIDのcss*/
#plan_user_id {
  width: 3%;
  text-align: center;
  background-color: #00CED1;
  border-radius: 50px;
}
/*予定のcss*/
#plan_title {
  width: 60%;
  height: 30px;
  text-align: center;
  font-size: 1.1em;
  background-color: #FFAAFF;
  border-radius: 10px;
}
/*開始時間のcss*/
#edit_start {
  display: inline-block;
  padding-right: 40px;
}
#plan_start_at_1i {
  width: 80px;
  height: 25px;
  border-radius: 20px;
}
#plan_start_at_2i {
  width: 80px;
  height: 25px;
  border-radius: 20px;
}
#plan_start_at_3i {
  width: 80px;
  height: 25px;
  border-radius: 20px;
}
#plan_start_at_4i {
  width: 80px;
  height: 40px;
  font-size: 1.3em;
  border-radius: 30px;
}
#plan_start_at_5i {
  width: 80px;
  height: 40px;
  font-size: 1.3em;
  border-radius: 30px;
}
/*終了時間のcss*/
#edit_end {
  display: inline-block;
  padding-left: 40px;
}
#plan_end_at_1i {
  width: 80px;
  height: 25px;
  border-radius: 20px;
}
#plan_end_at_2i {
  width: 80px;
  height: 25px;
  border-radius: 20px;
}
#plan_end_at_3i {
  width: 80px;
  height: 25px;
  border-radius: 20px;
}
#plan_end_at_4i {
  width: 80px;
  height: 40px;
  font-size: 1.3em;
  border-radius: 30px;
}
#plan_end_at_5i {
  width: 80px;
  height: 40px;
  font-size: 1.3em;
  border-radius: 30px;
}
/*詳細のcss*/
#plan_detail {
  width: 900px;
  height: 200px;
  font-size: 1.3em;
  background-color: #BBBBBB;
}
/*色選択のcss*/
#edit_color {
  padding-right: 150px;
  display: inline-block;
}
#plan_color_id {
  width: 80px;
  height: 30px;
  border-radius: 40px;
}
/*登録ボタンのcss*/
#edit_save {
  display: inline-block;
  padding-left: 500px;
  border-radius: 20px;
}

