div {
  margin: 0,0,0,0;
  padding: 0,0,0,0;
}
#aside {
  display:inline-block;
  width: 200px;
  position: relative;
}

#calendar {
  display:inline-block;
  width: 900px;
  margin-left: 30px;
}

#calendar th {
  text-align:center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  
}
#calendar .fc-day-header{
  height: 2em ;
  margin: 0 0;
  padding: 0 0;
}
#minicalendar {
  max-width: 220px;
  margin: 0 auto;
  position: absolute;
  top: 400px;
}

#minicalendar .fc-basic-view .fc-body .fc-row {
  min-height: 1em !important;
}

#minicalendar .fc-button {
  height: 2em !important;
  padding: 0 .1em !important;
  font-size: 0.8em !important;
  margin: 0,0;
}

#minicalendar .fc-prev-button .fc-button .fc-state-default .fc-corner-left {
  height: 2em;
  width: 20px;
}

#minicalendar h2{
  font-size:20px;
}
