div.login {
  text-align: center;
  border-radius: 5px;
}
div.login h2 {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 325px;
}
div.login p  {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 325px;
}
#user_login_id {
  padding:10px;
  color:#000;
  border:solid 1px #ccc;
  margin:0 0 20px;
  width:300px;
  border-radius: 5px;
}
#user_password_digest {
  padding:10px;
  color:#000;
  border:solid 1px #ccc;
  margin:0 0 20px;
  width:300px;
  border-radius: 5px;
}
#user_password {
  padding:10px;
  color:#000;
  border:solid 1px #ccc;
  margin:0 0 20px;
  width:300px;
  border-radius: 5px;
}
#login_submit {
  display: inline-block;
  width: 150px;
  padding: 0.3em 0.3em;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  border: solid 2px #67c5ff;
  border-radius: 5px;
  transition: .4s;
  background: #fff;
  margin-bottom: 30px;
}
#login_submit:hover {
  background: #67c5ff;
  color: white;
}
div.edit {
  text-align: center;
  border-radius: 5px;
}
div.edit h2 {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 325px;
}
div.edit p  {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 325px;
}
#edit_submit {
  display: inline-block;
  width: 150px;
  padding: 0.3em 0.3em;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  background: #fff;
}
#edit_submit:hover {
  background: #67c5ff;
  color: white; 
}
