div.new {
  text-align: center;
  border-radius: 5px;
}
div.new h2 {
  text-align: left; 
  margin-left: auto; 
  margin-right: auto; 
  width: 325px;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
p.new_password {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 325px;
}
p.caution {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 325px;
  color: #B8B6B6;
}
#user_login_id {
  padding:10px;
  color:#000;
  border:solid 1px #ccc;
  margin:0 0 20px;
  width:300px;
  border-radius: 5px;
  margin-bottom: 0px;
}
#user_name {
  padding:10px;
  color:#000;
  border:solid 1px #ccc;
  margin:0 0 20px;
  width:300px;
  border-radius: 5px;
}
#user_address {
  padding:10px;
  color:#000;
  border:solid 1px #ccc;
  margin:0 0 20px;
  width:322px;
  border-radius: 5px;
}
#user_password {
  padding:10px;
  color:#000;
  border:solid 1px #ccc;
  margin:0 0 20px;
  width:300px;
  border-radius: 5px;
  margin-bottom: 0px;
}
#new_submit {
  display: inline-block;
  width: 150px;
  padding: 0.3em 0.3em;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  background: #fff;
}
#new_submit:hover {
  background: #67c5ff;
  color: white;
}
div.show {
  text-align: center;
  border-radius: 5px;
}
div.button {
  text-align: center;
  border-radius: 5px;
}
table.show_table {
  border-collapse: collapse;
  border: 3px solid #B8B6B6;
}
tr.all_table {
  
}
td.user {
  font-size: 20px;
  font-weight: normal;
  background-color: #E2E1E1; 
}
td.fixation {
  font-size: 25px;
  font-weight: bold;
}
#show_submit {
  display: inline-block;
  width: 180px;
  padding: 0.3em 0.3em;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  background: #fff;
}
#show_submit:hover {
  background: #67c5ff;
  color: white;
}
