h1.new_h1 {
  text-align: center;
}
h2.new_h2 {
  text-align: center;
}
p.new_p {
  text-align: center;
}
#user_login_id {
  border:0;
  padding:10px;
  font-size:1.3em;
  font-family:Arial, sans-serif;
  color:#aaa;
  border:solid 1px #ccc;
  margin:0 0 20px;
  width:300px;
}
#user_name {
  border:0;
  padding:10px;
  font-size:1.3em;
  font-family:Arial, sans-serif;
  color:#aaa;
  border:solid 1px #ccc;
  margin:0 0 20px;
  width:300px;
}
#user_address {
  border:0;
  padding:10px;
  font-size:1.3em;
  font-family:Arial, sans-serif;
  color:#aaa;
  border:solid 1px #ccc;
  margin:0 0 20px;
  width:320px;
}
#user_password {
  border:0;
  padding:10px;
  font-size:1.3em;
  font-family:Arial, sans-serif;
  color:#aaa;
  border:solid 1px #ccc;
  margin:0 0 20px;
  width:300px;
}
