/*日付のデザイン*/
#show_date {
  text-align: center;
  margin: 0 0;
  background-color: #FCF9BE;
}

/*全体の中央揃え、デザイン設定*/
#show_all {
  text-align: center;
  background-color: #FCF9BE;
}

/*タイトルのcss*/
#schedule_comment {
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 20px;
}
#show_title {
  margin: 0 auto;
  width: 400px;
  border: solid 1px #000;
  background-color: #fff;
  border-radius: 5px;
}

/*開始時間のcss*/
#start_time {
  display: inline-block;
}
#show_start {
  margin-top: 0;
}
#start_comment {
  margin-bottom: 0;
}

/*終了時間のcss*/
#end_time {
  margin-left: 200px;
  display: inline-block;
}
#show_end {
  margin-top: 0;
}
#end_comment {
  margin-top: 10px;
  margin-bottom: 0;
}

/*詳細のcss*/
#detail_comment {
  margin-bottom: 5px;
}
#show_detail {
  margin: 0 auto;
  margin-bottom: 20px;
  border: solid 1px #000;
  width: 700px;
  height: 100px;
  background-color: #fff;
  border-radius: 5px;
}

/*ボタンの編集*/
.button_to {
  display: inline-block;
  margin: 50px;
}

#delete_button {
  display: inline-block;
  width: 150px;
  padding: 0.3em 0.3em;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  border: solid 2px #67c5ff;
  border-radius: 5px;
  transition: .4s;
  background: #fff;
}

#delete_button:hover {
  background: #67c5ff;
  color: white;
}

#edit_button {
  display: inline-block;
  width: 150px;
  padding: 0.3em 0.3em;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  border: solid 2px #67c5ff;
  border-radius: 5px;
  transition: .4s;
  background: #fff;
}
#edit_button:hover {
  background: #67c5ff;
  color: white;
}
