/*全体のcss*/
#top_all {
  background-color: #FCF9BE;
}

/*説明文の配置*/
#expo_comment {
  text-align: center;
}

/*ログインボタンのデザイン*/
#login_comment {
  text-align: center;
}
#login_button {
  display: inline-block;
  margin-left: 100px;
}
#button_login {
  margin-top: 0;
  width: 150px;
  padding: 0.3em 0.3em;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  border: solid 2px #67c5ff;
  border-radius: 5px;
  transition: .4s;
  background: #fff;
}
#button_login:hover {
  background: #67c5ff;
  color: white;
}

/*タイトルのフォントとデザイン*/
#top_title {
  text-align: center;
  background-color: #FF0000;
  color: white;
  text-shadow: -2px 4px 0 rgba(0,0,0,0.3); 
}
#main_schedule_checker {
  font-family: 'Changa One', sans-serif;
  font-weight: 400px;
  text-transform: uppercase;
  font-size: 90px;
  letter-spacing: 15px;
  margin: 0 0;
}

/*新規登録ボタンのデザイン*/
#new_comment {
  text-align: center;
}
#new_button {
  display: inline-block;
  margin-right: 100px;
}
#button_new {
  width: 150px;
  padding: 0.3em 0.3em;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  border: solid 2px #67c5ff;
  border-radius: 5px;
  transition: .4s;
  background: #fff;
}
#button_new:hover {
  background: #67c5ff;
  color: white;
}

/*ボタンの大きさ*/
input[type=submit] {
  width: 100px;
  height: 40px;
  font-size: 0.8em;
}
.button_to {
  margin-top: 0;
}
#button_eria {
  text-align: center;
}
