<html>
  <head>
  </head>
  <body>
    <h1>スケジュール</h1>
    <aside id="aside">
      <p>今日の予定</p>
      <% @today_plans.each do |today_plan| %>
      <p><%= today_plan  %></p>
      <% end %>
      <div id="minicalender"></div>"
    </aside>
    <script>
    /* 予定の取得  */
    window.datas = <%= raw @datas.to_json %>
    console.log(window.datas)
    </script>
    <div id="calendar"></div>

    <script>
    /* 現在は固定値、後にユーザーのplanの数 + 1 に変更*/
    <% test = 1 %>
    $(document).ready(function(){
      $('#calendar').fullCalendar({

        /* 表示するボタン */
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },

        /*　ボタンの名前変更　*/
        buttonText: {
          today: '今日',
          month: '月',
          week: '週',
          day: '日'
        },

        /* 初期表示  */
        defaultView:'agendaWeek',
    
        /* 曜日の名称  */
        dayNamesShort: ["日","月","火","水","木","金","土"],
        firstDay: 1,
        selectable: true,
        selectHelper: true,
        /* 予定反映  */
        events: window.datas,
        timeFormat: 'H:mm',
    
        /* 日付クリック時の処理  */
        dayClick: function(date) {
        window.location.href = "/show/" + <%= @length %> + "/edit"
        }
      });
            $('#calendar').fullCalendar({

        /* 表示するボタン */
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },

        /*　ボタンの名前変更　*/
        buttonText: {
          today: '今日',
          month: '月',
          week: '週',
          day: '日'
        },

        /* 初期表示  */
        defaultView:'agendaWeek',
    
        /* 曜日の名称  */
        dayNamesShort: ["日","月","火","水","木","金","土"],
        firstDay: 1,
        selectable: true,
        selectHelper: true,
        /* 予定反映  */
        events: window.datas,
        timeFormat: 'H:mm',
    
        /* 日付クリック時の処理  */
        dayClick: function(date) {
        window.location.href = "/show/" + <%= @plans.length + 1 %> + "/edit"
        }
      });
    });
    </script>
  </body>
</html>
